/* images used for new buttons */
.secondaryToolbarButton.downloadPdf::before {
    -webkit-mask-image: url(../Images/Doc_PDFViewer_ToolbarButton_DownloadPdf.png);
    mask-image: url(../Images/Doc_PDFViewer_ToolbarButton_DownloadPdf.png);
}

.secondaryToolbarButton.downloadWord::before {
    -webkit-mask-image: url(../Images/Doc_PDFViewer_ToolbarButton_DownloadWord.png);
    mask-image: url(../Images/Doc_PDFViewer_ToolbarButton_DownloadWord.png);
}

.secondaryToolbarButton.downloadExcel::before {
    -webkit-mask-image: url(../Images/Doc_PDFViewer_ToolbarButton_DownloadExcel.png);
    mask-image: url(../Images/Doc_PDFViewer_ToolbarButton_DownloadExcel.png);
}

/* reusing the framework set coloring */
/*
.officeNavBar.navigationBar #toolbarSidebar
{
    background-color: inherited; important!
}

.officeNavBar.navigationBar #toolbarContainer, .findbar, .secondaryToolbar {
    background-color: inherited; important!
}
*/
/*
    toolbar color changes

#toolbarContainer:
toolbar background color:#0C63AB

*/